[submodule "api"]
	path = api
	url = git@github.com:arimariojesus/waiterapp-api.git
[submodule "ui"]
	path = ui
	url = git@github.com:arimariojesus/waiterapp-ui.git
[submodule "mobile"]
	path = mobile
	url = git@github.com:arimariojesus/waiterapp-mobile.git
